<div class="card">
  <div class="card-body">
    <h2>{{title}}</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eveniet
      atque quasi suscipit, qui enim deserunt cupiditate. Doloribus quasi,
      inventore nihil magni magnam quod quibusdam sed hic architecto! Soluta,
      quibusdam?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eveniet
      atque quasi suscipit, qui enim deserunt cupiditate. Doloribus quasi,
      inventore nihil magni magnam quod quibusdam sed hic architecto! Soluta,
      quibusdam?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eveniet
      atque quasi suscipit, qui enim deserunt cupiditate. Doloribus quasi,
      inventore nihil magni magnam quod quibusdam sed hic architecto! Soluta,
      quibusdam?
    </p>
  </div>
</div>
